name: $(Date:yyyyMMdd)$(Rev:.r)
trigger:
- main

pool:
  vmImage: 'windows-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'

- task: Docker@2
  displayName: Building Docker Image
  inputs:
    command: buildAndPush
    Dockerfile: Dockerfile
    tags: |
      $(Build.BuildId)
      latest
- task: PushToHeroku@0
  displayName: PushToHeroku
  inputs:
    ApiKey: 'd0e26bf9-46d6-49bb-a3a0-aaab5063d904'
    AppName: 'gaminglads-frontend-user'
    PushRoot: ''